.button{
    border: none;
    outline: none;
    padding: 1.5rem;
    padding-block: 1.5rem;
    border-radius: 1.5rem;
    cursor: pointer;


    transition: all 0.2s ease-in-out;
    
    &.primary-button{
        background-color: #e1034d;
        color: white;

    }

     &:active{
        transform: scale(0.9);
    }
}